{{#if editQuestionForm}}
  <h3>Edit {{model.author}}'s question</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Name:</label>
        {{input value=author id="author" placeholder=model.author}}
      </div>
      <div class="form-group">
        <label for="question">Question:</label>
        {{input value=question id="question" placeholder=model.question}}
      </div>
      <div class="form-group">
        <label for="notes">Notes:</label>
        {{input value=notes id="notes" placeholder=model.notes}}
      </div>

      <button {{action 'edit1' model}} class="btn btn-success">Edit</button>
    </form>
  </div>
{{else}}
  <button {{action 'editQuestionForm'}} class="btn btn-warning">Edit</button>
{{/if}}
